In [2]:
import numpy as np
import pandas as pd
import spacy

In [3]:
from spacy.lang.en.stop_words import STOP_WORDS as stopwords

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/laxmimerit/twitter-data/master/twitter4000.csv', encoding='latin1', header=0)

In [7]:
df

                                                 twitts  sentiment
0     is bored and wants to watch a movie  any sugge...          0
1              back in miami.  waiting to unboard ship           0
2     @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                     ughhh i am so tired  blahhhhhhhhh          0
4     @mandagoforth me bad! It's funny though. Zacha...          0
...                                                 ...        ...
3995                                  i just graduated           1
3996          Templating works; it all has to be done            1
3997                   mommy just brought me starbucks           1
3998  @omarepps watching you on a House re-run...lov...          1
3999  Thanks for trying to make me smile I'll make y...          1

[4000 rows x 2 columns]

In [8]:
df['sentiment'].value_counts()

0    2000
1    2000
Name: sentiment, dtype: int64

### Word Count

In [9]:
len('this is text'.split())

3

In [12]:
df['word_counts'] = df['twitts'].apply(lambda x: len(x.split()))

In [13]:
df['word_counts'].head()

0    10
1     7
2    12
3     6
4    26
Name: word_counts, dtype: int64

In [15]:
df.sample(5)

,twitts,sentiment,word_counts
2133,@scribblepotemus !,1,2
252,@BreeSymone haha i said it too and a few other...,0,15
2631,"@ClinicRecords Oh, LOL... the other tweet alr...",1,15
3864,The first day of &quot;real&quot; rehersals of...,1,21
3249,Thanks to @riskyadinda for borrowing me ur phone,1,8

In [16]:
df['word_counts'].max()

32

In [17]:
df['word_counts'].min()

1

In [18]:
df[df['word_counts']==1]

                               twitts  sentiment  word_counts
385                         homework           0            1
691                         @ekrelly           0            1
1124                    disappointed           0            1
1286                 @officialmgnfox           0            1
1325                        headache           0            1
1897                      @MCRmuffin           0            1
2542                      Graduated!           1            1
2947                         reading           1            1
3176                    @omeirdeleon           1            1
3470  www.myspace.com/myfinalthought           1            1
3966                        @gethyp3           1            1

### Characters Count

In [19]:
len('this is ')

8

In [20]:
def char_count(x):
    s = x.split()
    x = ''.join(s)
    return len(x)

In [21]:
char_count('this is ')

6

In [23]:
df['char_count'] = df['twitts'].apply(lambda x: char_count(x))

In [24]:
df.sample(5)

,twitts,sentiment,word_counts,char_count
1862,"@guendouglas i'm both ecstatic &amp; sad, ecs...",0,23,120
3725,Im finally going to get a haircut,1,7,27
2957,@delta_goodrem awww that's so you ones that t...,1,18,82
2495,Anybody want to chat it up? Hit me up on aim a...,1,23,64
189,Oop 3g please dont fail me now,0,7,24

### Average Word Length

In [25]:
x = 'this is' # 6/2 =3 : character / number of words

In [27]:
df['avg_word_len'] = df['char_count'] / df['word_counts']

In [28]:
df.sample(5)

,twitts,sentiment,word_counts,char_count,avg_word_len
519,Second bar I've tried has flakey wifi. Left a...,0,26,107,4.115385
1559,Still not at 100%,0,4,14,3.500000
3034,"@Pandaran @BryanPerson And yet, Twitter still ...",1,21,101,4.809524
2728,@ericshaver Haha! I remember that...shame and...,1,11,69,6.272727
305,I have a torn something in my knee,0,8,27,3.375000

### Stop Words Count

In [29]:
print(stopwords)

{'becoming', 'even', 'somehow', 'back', 'this', 're', "'m", 'several', 'someone', 'down', 'towards', 'go', 'yourselves', 'must', 'them', 'she', 'give', 'then', 'forty', 'same', 'no', 'everyone', 'say', 'nothing', 'perhaps', 'their', 'neither', 'whereby', 'here', 'us', 'yet', 'n’t', 'ourselves', 'doing', "'d", 'may', 'very', 'though', '’m', 'used', 'none', '’re', 'elsewhere', 'now', 'can', 'seem', 'seeming', 'being', 'first', '‘re', "n't", 'anywhere', 'a', 'anything', 'put', 'yourself', 'thereafter', 'everything', 'side', 'both', 'will', 'from', 'on', 'as', 'by', 'nowhere', 'hereby', 'during', 'few', 'much', 'afterwards', 'for', 'per', 'an', 'hundred', 'all', 'beyond', 'into', 'either', 'top', 'every', 'off', 'everywhere', 'least', 'anyone', 'two', 'six', 'her', 'beforehand', 'whence', 'whither', 'became', 'cannot', 'our', 'what', 'fifty', 'thereupon', '‘ve', 'should', '‘m', 'please', 'becomes', 'does', 'whole', 'through', 'other', 'onto', 'the', 'unless', 'always', 'his', '’ll', 'namely', 'below', 'not', 'again', 'until', 'together', 'name', 'various', 'move', 'nor', 'nevertheless', 'be', 'myself', '’s', 'eight', 'once', 'twenty', 'rather', 'at', 'there', 'are', 'would', 'sometime', '‘s', 'done', 'were', 'indeed', 'full', 'many', 'never', 'nine', 'mostly', 'of', 'further', 'somewhere', 'toward', 'wherever', 'fifteen', 'ten', 'next', 'amongst', 'n‘t', 'third', 'meanwhile', 'after', 'but', 'call', 'herein', 'thus', 'although', 'between', 'show', 'front', 'moreover', 'whenever', 'almost', 'see', 'besides', 'herself', 'due', 'make', 'less', 'hereupon', 'therein', 'alone', 'is', 'because', 'behind', 'often', 'than', 'before', 'amount', 'or', "'s", 'that', 'any', 'throughout', 'also', 'already', 'via', 'when', 'we', 'who', 'itself', 'whose', 'otherwise', 'hereafter', 'along', 'your', 'such', 'whoever', 'twelve', 'i', 'one', 'over', 'anyway', 'have', 'really', 'each', 'these', 'some', 'he', 'under', 'ca', 'around', 'across', 'they', 'has', 'against', 'latterly', 'thence', 'might', 'whereupon', 'whether', 'else', 'just', 'themselves', 'did', 'formerly', 'using', 'me', 'yours', 'out', 'well', "'re", 'keep', 'something', 'so', '‘d', 'serious', 'himself', 'am', 'up', 'its', 'four', 'do', 'him', '’ve', 'with', 'quite', 'sixty', 'become', 'to', 'made', 'more', 'five', '’d', 'if', 'been', 'bottom', 'part', 'while', 'eleven', 'three', 'upon', 'seems', 'only', '‘ll', 'about', "'ve", 'however', 'those', 'therefore', 'within', 'how', 'whereafter', 'whatever', 'too', 'above', 'why', 'take', 'ours', 'own', 'former', 'and', 'without', 'hence', 'last', "'ll", 'get', 'sometimes', 'where', 'noone', 'others', 'thereby', 'except', 'was', 'regarding', 'had', 'anyhow', 'you', 'most', 'among', 'since', 'it', 'still', 'wherein', 'beside', 'empty', 'whereas', 'whom', 'nobody', 'latter', 'seemed', 'another', 'mine', 'enough', 'ever', 'my', 'in', 'could', 'thru', 'hers', 'which'}

In [30]:
len(stopwords)

326

In [31]:
x = 'this is the text data'

In [32]:
x.split()

['this', 'is', 'the', 'text', 'data']

In [33]:
len([t for t in x.split() if t in stopwords])

3

In [36]:
df['stop_word_len'] = df['twitts'].apply(lambda x : len([t for t in x.split() if t in stopwords]))

In [37]:
df.sample(5)

,twitts,sentiment,word_counts,char_count,avg_word_len,stop_word_len
3640,"has been revising in the sun all day, finally ...",1,16,57,3.5625,10
473,my nose. it is stuffed.,0,5,19,3.8000,3
426,@310Dreams @Rickyfriedrice hmm. Okay. But some...,0,12,75,6.2500,3
3851,@Alexa_13 You are,1,3,15,5.0000,1
3003,Glad its friday tomorrow!!! Weekend is finally...,1,8,48,6.0000,2

### Count #Hashtags and @ Mentions

In [38]:
x = 'this is #amazing and this is @mention'

In [39]:
x.split()

['this', 'is', '#amazing', 'and', 'this', 'is', '@mention']

In [41]:
len([t for t in x.split() if t.startswith('@')])

1

In [43]:
df['hashtag_count'] = df['twitts'].apply(lambda x : len([t for t in x.split() if t.startswith('#')]))
df['mention_count'] = df['twitts'].apply(lambda x : len([t for t in x.split() if t.startswith('@')]))

In [44]:
df.sample(5)

,twitts,sentiment,word_counts,char_count,avg_word_len,stop_word_len,hashtag_count,mention_count
1959,Virtually cuddling is no where near the same t...,0,12,60,5.000000,6,0,0
3608,My word. Adverts just get funnier these days -...,1,10,44,4.400000,3,0,0
1142,@danielsnyder Well that is exciting for you bu...,0,11,48,4.363636,7,0,1
2466,Lion King has finished. Now on to Jungle Book ...,1,13,54,4.153846,4,0,0
3952,badmouthing someone. I REALLY REALLY REALLY HA...,1,8,48,6.000000,0,0,0

### Numeric Digits

In [45]:
x = 'this is 1 and 2'

In [46]:
x.split()

['this', 'is', '1', 'and', '2']

In [47]:
x.split()[3].isdigit()

False

In [48]:
[t for t in x.split() if t.isdigit()]

['1', '2']

In [51]:
df['numeric'] = df['twitts'].apply(lambda x : len([t for t in x.split() if t.isdigit()]))

In [52]:
df.sample()

,twitts,sentiment,word_counts,char_count,avg_word_len,stop_word_len,hashtag_count,mention_count,numeric
1696,"@PaulHirsch708 yeah, better. Been hiding in th...",0,14,72,5.142857,5,0,1,0

### Lower Case Conversion

In [53]:
x = 'this is Text'
x.lower()

'this is text'

In [54]:
x =45
x.lower()

AttributeError: 'int' object has no attribute 'lower'

In [55]:
str(x).lower()

'45'

In [57]:
df['twitts'] = df['twitts'].apply(lambda x:str(x).lower())

### Contraction to Expansion

In [64]:
import contractions
text = '''She'd like to know how I'd done that!
		She's going to the park and I don't think I'll be home for dinner.
		Theyre going to the zoo and she'll be home for dinner.'''

contractions.fix(text)

'She would like to know how I would done that!\n\t\tShe is going to the park and I do not think I will be home for dinner.\n\t\tThey Are going to the zoo and she will be home for dinner.'

In [68]:
df['twitts'].apply(lambda x: contractions.fit(x))

AttributeError: module 'contractions' has no attribute 'fit'

### Count and Remove Emails

In [69]:
import re

In [70]:
x = '@ssecuuus arghh me please harshil@hi.com.'

In [71]:
re.findall(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+._-]+\b)',x)

['harshil@hi.com']

In [75]:
df['email'] = df['twitts'].apply(lambda x : re.findall(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+._-]+\b)',x))

In [80]:
df['email'].value_counts()

[]                               3999
[markbradbury_16@hotmail.com]       1
Name: email, dtype: int64